<div class="modal-body">
    <!-- Formulario de Inicio de Sesión -->
    <form>
        <div class="mb-3">
            <label for="emailInput" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email"  name="email"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button id="loginBotonAceptar" type="submit" class="btn btn-success">Iniciar Sesión</button>
    </form>
</div>