<div class="container-fluid">
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-6">
            <app-select (ordenSeleccionado)="onOrdenSeleccionado($event)"></app-select>
        </div>
        <div class="d-flex justify-content-end">
            <!-- Botón para hacer las altas -->
            <button type="button" class="btn btn-dark text-white mb-1" routerLink="../agregar">
                <i class="bi bi-plus-lg text-white"></i>
            </button>
        </div>
    </div>

    <!-- 
        Tabla con los resultados.
     -->
    <app-tabla-peliculas [peliculas]="peliculas" (onBorrar)="borrarPelicula($event)"></app-tabla-peliculas>

    <app-paginador-abecedario (letraSeleccionada)="cargarPeliculasPorLetra($event)"></app-paginador-abecedario>
</div>
