<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 w-100">
    <div class="container-fluid">
        <a routerLink="/dashboard" class="navbar-brand">
            <i class="bi bi-film"></i> CineClub
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/inicio" routerLinkActive="active" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/peliculas/abecedario" routerLinkActive="active" class="nav-link">Películas</a>
                </li>
            </ul>
            <div class="d-flex">
                <!-- Botones de sesión -->
                <button id="botonCerrarSesion" class="btn btn-outline-danger d-none" onclick="cerrarSesion()">
                    <i class="bi bi-box-arrow-right"></i>
                </button>
                <button id="botonInicioSesion" class="btn btn-outline-success" type="button" (click)="openLoginModal()">
                    <i class="bi bi-person-fill"></i>
                </button>

            </div>
        </div>
    </div>
</nav>